@keyframes moving {
 0% { transform: translateX(0) }
 100% { transform: translateX(4px) }
}

@keyframes scaling {
 0% { transform: scale(1.0) }
 100% { transform: scale(1.5) }
}

@keyframes opacity {
 0% { opacity: 0 }
 100% { opacity: 1 }
}

.card__like-icon-core {
  transition: fill 0.3s 0.03s ease;
  fill: transparent;
}

.card__icon-button:hover .card__like-icon-core {
  fill: var(--color-heart-contour);
  transition: fill 0.3s ease;
}

.card__icon-button:active .card__like-icon-core,
.like-icon.is-liked .card__like-icon-core {
  fill: var(--color-heart-sparks);
  transition: fill 0.3s ease;
}

.card__like-icon-main-body {
  transition: fill 0.3s ease;
  fill: transparent;
}

.card__icon-button:hover .card__like-icon-main-body {
  fill: var(--color-heart-contour);
  transition: fill 0.3s 0.05s ease;
}

.card__icon-button:active .card__like-icon-main-body,
.like-icon.is-liked .card__like-icon-main-body {
  fill: var(--color-heart-sparks);
  transition: fill 0.3s 0.05s ease;
}

.like-icon:not(.is-liked) .card__like-icon-contour {
  fill: var(--color-heart-contour);
  transition: fill 0.1 linear;
}

.like-icon.is-liked .card__like-icon-contour {
  fill: var(--color-heart-sparks);
  transition: fill 0.3s 0.06s ease;
}

.like-icon.is-liked {
  animation: scaling 0.3s ease-in 0.1s 2 both alternate;
}

.card__like-icon-sparks {
  opacity: 0;
}

.like-icon.is-liked .card__like-icon-sparks {
  animation: opacity 0.3s ease-in 0.3s 2 both alternate;
}
