:root {
  --font-main: Inter;
  --font-accent: PressStart2P;
  --font-weight-text: 400;
  --font-weight-header: 700;

  --color-text-background: #fff;
  --color-text: #000;
  --color-button-text: #fff;
  --color-background: #d3d3d3;
  --color-background-gradient-start: #e7e7e7;
  --color-background-gradient-end: #1a1a1a;

  --background-gradient-start-position: 0.01%;

  --color-heart-contour: #000;
  --color-heart-sparks: #f00;

  --letter-spacing: 0;
}
